WENLING_ADMIN_USERNAME=admin
WENLING_ADMIN_PASSWORD=1234
WENLING_INVITE_CODES=WL1234,7392,WL8K2
WENLING_MAX_ROOMS=3
WENLING_DEFAULT_AI_POLICY=low
CLOUDFLARE_TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
