WENLING_ADMIN_USERNAME=admin
WENLING_ADMIN_PASSWORD=replace-with-a-strong-password
WENLING_INVITE_CODES=7392,WL8K2
WENLING_MAX_ROOMS=3
WENLING_DEFAULT_AI_POLICY=low
CLOUDFLARE_TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
